<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/stocks/layout :: layout(${title},~{::content})}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <table class="table table-striped" th:fragment="content">
        <tr>
            <th>
                <a th:href="@{/screener/refresh/}" href="#">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
            </th>
            <th>Symbol</th>
            <th>Market Cap</th>
            <th>Price</th>
            <th>Debt/Equity</th>
            <th>Current Net Income</th>
            <th>Current Dividend</th>
            <th>Five Year Earnings Growth</th>
            <th>Price/Tangible Book Value</th>
        </tr>
        <tr th:each="analysis : ${analysisList}">
            <td>
                <a th:href="@{'/screener/refresh/' + ${analysis.symbol}}" href="#">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
            </td>
            <td th:text="${analysis.symbol}">symbol</td>
            <td th:text="${analysis.marketCap}">market cap</td>
            <td th:text="${analysis.price}">price</td>
            <td th:text="${analysis.debtEquityRatio}">Debt/equity</td>
            <td th:text="${analysis.currentNetIncome}">current net income</td>
            <td th:text="${analysis.currentDividend}">divident</td>
            <td th:text="${analysis.fiveYearEarningsGrowth}">five-year growth</td>
            <td th:text="${analysis.priceToTangibleBookValueRatio}">price/tangible book value</td>
        </tr>
    </table>
</div>

</body>
</html>