<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/stocks/layout :: layout(${title},~{::content})}">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form th:fragment="content" th:action="@{'/stocks/' + *{symbol}}" th:object="${stock}" method="post">
        <div class="form-group">
            <label th:for="*{symbol}">Stock Symbol</label>
            <input th:field="*{symbol}" class="form-control" placeholder="META" th:disabled="${not editing}">
        </div>
        <div class="form-group">
            <label th:for="*{companyName}">Company Name</label>
            <input th:field="*{companyName}" class="form-control" placeholder="Meta Platforms Inc"
                   th:disabled="${not editing}">
        </div>
        <div class="form-group">
            <label th:for="*{sector}">Sector</label>
            <input th:field="*{sector}" class="form-control" placeholder="Communication Services"
                   th:disabled="${not editing}">
        </div>
        <div class="form-group">
            <label th:for="*{industry}">Industry</label>
            <input th:field="*{industry}" class="form-control" placeholder="Internet Content & Information"
                   th:disabled="${not editing}">
        </div>
        <div class="form-group">
            <label th:for="*{url}">URL</label>
            <input th:field="*{url}" class="form-control" placeholder="https://about.meta.com/"
                   th:disabled="${not editing}">
        </div>
        <div class="form-group">
            <label th:for="*{description}">Description</label>
            <textarea th:field="*{description}" class="form-control" rows="11" th:disabled="${not editing}"></textarea>
        </div>

        <div class="form-group" th:if="${editing}">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-default" th:href="${#request.getHeader('referer')}">Cancel</a>
        </div>
        <div class="form-group" th:if="${not editing}">
            <a class="btn btn-default" th:href="@{'/stocks/' + *{symbol} + '/edit'}">Edit</a>
        </div>
    </form>
</div>
</body>
</html>