<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/stocks/layout :: layout(${title},~{::content})}">
<head>
    <meta charset="UTF-8">
    <title>Import Stock</title>
</head>
<body>

<form th:fragment="content" th:action="@{/stocks}" th:object="${stock}" method="post">
    <div class="form-group">
        <label th:for="*{symbol}">Stock Symbol</label>
        <input th:field="*{symbol}" class="form-control" placeholder="META">
    </div>
    <button type="submit" class="btn btn-primary">Import</button>
    <a class="btn btn-default" th:href="${#request.getHeader('referer')}">Cancel</a>
</form>
</body>
</html>