<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/stocks/layout :: layout(${title},~{::content})}">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <table class="table table-striped" th:fragment="content">
        <tr>
            <th><a th:href="@{/stocks/import}"><i class="glyphicon glyphicon-plus"></i></a></th>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Sector</th>
            <th>Industry</th>
            <th>URL</th>
        </tr>
        <tr th:each="stock : ${stocks}">
            <td>
                <a
                        th:href="@{'/stocks/' + ${stock.symbol} + '/edit'}"
                        >
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>
                <a
                        th:href="@{'/stocks/' + ${stock.symbol}}"
                        th:text="${stock.symbol}">symbol</a>
            </td>
            <td th:text="${stock.companyName}">company name</td>
            <td th:text="${stock.sector}">sector</td>
            <td th:text="${stock.industry}">industry</td>
            <td>
                <a
                        th:href="${stock.url}"
                        th:text="${stock.url}">URL</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>