<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,content)">
<head>
    <title th:text="${title}">Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">

    <div th:replace="~{/fragments/navbar :: navbar}">Navbar</div>

    <h1 th:text="${title}">Title</h1>

    <div th:replace="${content}"></div>

</div>
</body>
</html>